*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Verdana, Tahoma, Arial;
}

html, body
{
	width: 100%;
	height: 100%;
}

#wrapper
{
	width: 100%;
	height: 100%;

	padding: 10px;

	background-color: #1E1E20;
}

#head-wrapper
{
	width: 100%;
	height: 35px;

	color: #DC3522;
	background-color: #374140;

	line-height: 35px;
	padding-left: 10px;
}

#wrapper-inner
{
	width: 100%;
	height: calc(100% - 35px - 10px);

	margin-top: 10px;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.simulator-wrapper
{	
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.sim-wrapper-head
{
	width: 100%;
	height: 35px;
}

.sim-wrapper-content
{
	width: 100%;
	height: calc(100% - 35px - 200px);
}

.sim-wrapper-footer
{
	width: 100%;
	height: 200px;
}

.simulator-log
{
	width: 100%;
	height: 100%;

	color: #D9CB9E;
	background-color: #2A2C2B;

	padding: 10px;

	border: 0;
	outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}




/* SCROLLBAR OVERRIDE */
::-webkit-scrollbar 
{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button 
{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb 
{
  background: #DC3522;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover 
{
  background: #DC3522;
}

::-webkit-scrollbar-thumb:active 
{
  background: #DC3522;
}

::-webkit-scrollbar-track 
{
  background: #1E1E20;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover 
{
  background: #1E1E20;
}

::-webkit-scrollbar-track:active 
{
  background: #1E1E20;
}

::-webkit-scrollbar-corner 
{
  background: transparent;
}