#matchmaker-wrapper
{
	color: #DC3522;
	background-color: #2A2C2B;
}

#matchmaker-wrapper-head
{
	line-height: 35px;
	padding-left: 10px;

	background-color: #374140;
}

#matchmaker-wrapper-content
{
	
}

#matchmaker-wrapper-footer
{
	background-color: #374140;
}