#server-wrapper
{
	margin-left: 10px;
	margin-right: 10px;

	color: #DC3522;
	background-color: #2A2C2B;
}

#server-wrapper-head
{
	line-height: 35px;
	padding-left: 10px;

	background-color: #374140;
}

#server-wrapper-content
{
	
}

#server-wrapper-footer
{
	padding: 5px;
	background-color: #374140;
}

.server-input-group
{
	width: 100%;
	height: 25%;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.server-input-group > *:not(:first-child)
{
	margin-left: 10px;
}

#server-wrapper-footer input[type="text"]
{
	padding: 5px;

	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#server-wrapper-footer input[type="button"]
{
	padding: 5px;

	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#server-wrapper-footer select
{
	padding: 5px;

	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}